@model InventoryApp.Models.Artikl

@{
    ViewData["Title"] = "Edit";
    Layout = "../../Views/Shared/AdminLTE/_Layout.cshtml";
}

<h1>Artikli</h1>

<h4>Izmjene</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="form-row">

                <div class="col">
                    <div class="form-group">
                        <label asp-for="KategorijaId" class="control-label"></label>
                        <select asp-for="KategorijaId" class="form-control" asp-items="ViewBag.KategorijaId"></select>
                        <span asp-validation-for="KategorijaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="VrstaId" class="control-label"></label>
                        <select asp-for="VrstaId" class="form-control" asp-items="ViewBag.VrstaId"></select>
                        <span asp-validation-for="VrstaId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TipId" class="control-label"></label>
                        <select asp-for="TipId" class="form-control" asp-items="ViewBag.TipId"></select>
                        <span asp-validation-for="TipId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="IzvedbaId" class="control-label"></label>
                        <select asp-for="IzvedbaId" class="form-control" asp-items="ViewBag.IzvedbaId"></select>
                        <span asp-validation-for="IzvedbaId" class="text-danger"></span>
                    </div>
                </div>

                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="UsrChanged" value="@User.Identity.Name" />
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Ident" class="control-label"></label>
                        <input asp-for="Ident" class="form-control" />
                        <span asp-validation-for="Ident" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PocetnoStanje" class="control-label"></label>
                        <input asp-for="PocetnoStanje" class="form-control" />
                        <span asp-validation-for="PocetnoStanje" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AktualnoStanje" class="control-label"></label>
                        <input asp-for="AktualnoStanje" class="form-control" />
                        <span asp-validation-for="AktualnoStanje" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ZavrsnoStanje" class="control-label"></label>
                        <input asp-for="ZavrsnoStanje" class="form-control" />
                        <span asp-validation-for="ZavrsnoStanje" class="text-danger"></span>
                    </div>
                </div>

            </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
